.cart-view-header{
    position: relative;
}
.view-menu-cart{
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(0%,40px);
    display: none;
    width: 25rem;

    background-color: #fff;
    border-radius: 10px;

    /* border: 1px solid #BCBFD6; */

}
.cart-view-header:hover .view-menu-cart{
    display: block;

}

.cart-header-item img{
    height: 60px;
    width: 60px;
}

.cart-header-main{
    max-height: 400px;
    overflow: auto;
}

.price-cart{
    font-weight: bolder;
    color: var(--primary-color);
    text-align: end !important;
}
.view-menu-cart{
    cursor: auto !important;
}

.view-menu-cart h6{
    font-size: 20px;
}
.img-null-cart{
    position: unset !important;
    transform: unset !important;
}


@media only screen and (max-width: 432px) {
    .view-menu-cart{
        width: 20rem;

    }
    .cart-header-main{
        max-height: 300px;
    }
  }

  @media only screen and (max-width: 360px) {
    .view-menu-cart{
        width: 18rem;

    }
  }



