.header-flash-sale{
    background: #0E3EDA;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.header-flash-sale .countdown{
    display: flex;
}
/*.header-flash-sale .countdown > div {*/
/*    width: 32px;*/
/*    height: 32px;*/
/*    margin-right: 4px;*/
/*    background-color: #FC530B;*/
/*    border-radius: 4px;*/
/*    font-weight: 700;*/
/*    font-size: 15px;*/
/*    line-height: 24px;*/
/*    color: #fff;*/
/*    text-align: center;*/
/*    padding-bottom: 4px;*/
/*    padding-top: 4px;*/
/*}*/
.text-countdown{
    color: #fff !important;
}
.time_slot{
    border: 1px solid #e6e2e2;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
}
.time_slot_inner{
    width: 20%;
    text-align: center;
    padding: 10px 0;
}
.time_slot_text{
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 500;
}
.time_slot_timer{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}
.time_slot .active{
    background: linear-gradient(#FA700C, #FF4218);
    color: #fff;
}
.time_slot .active .time_slot_text{
    color: #fff;
}
.listing-account .item-account-flashsale {
    width: 20%;
    padding: 0 8px;
    margin-bottom: 16px;
}

.item-account-flashsale .account-thumb {
    position: relative;
    padding-bottom: 60%;
    border-radius: 8px;
    overflow: hidden;
}

.item-account-flashsale .account-title{
    color: var(--text-color);
}

.item-account-flashsale .account-thumb .account-thumb-image{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.secondary_flashsale:hover{
    background-color: #FC530B;
    color: #fff;
}
.secondary_flashsale{
    border: 1px solid #FC530B;
    color: #FC530B;
    padding: 8px 20px;
}

.secondary_combo:hover{
    background-color: #FC530B;
    color: #fff;
}
.secondary_combo{
    border: 1px solid #FC530B;
    color: #FC530B;
    padding: 8px 20px;
}

.price-flashsale .price-old {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: var(--text-link-default-color);
    text-decoration: line-through;
}
.price-flashsale .price-current-flashsale {
    color: #FC530B;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}
.percent_discount:after {
    content: attr(data-content);
    position: absolute;
    width: 54px;
    height: 24px;
    top: 0;
    right: 0;
    background-color: #FC530B;
    text-align: center;
    padding-top: 3px;
    padding-left: 11px;
    font-weight: 700;
    color: #fff;
    background-image: url(../../image/png/Flash-on.png);
    background-repeat: no-repeat;
    background-size: 7px 14px;
    background-position: 15% 5px;
    border-radius: 0 0 0 8px;
}
.result-countdown-2{
    background: #fff;
    border-radius: 14px;
}
/*.countdown > div {*/
/*    width: 32px;*/
/*    height: 32px;*/
/*    margin-right: 4px;*/
/*    background-color: var(--primary-color);*/
/*    border-radius: 4px;*/
/*    font-weight: 700;*/
/*    font-size: 15px;*/
/*    line-height: 24px;*/
/*    color: #fff;*/
/*    text-align: center;*/
/*    padding-bottom: 4px;*/
/*    padding-top: 4px;*/
/*}*/
.out_of_stock{
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-radius: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    color: #fff;
}
.layout{
    background: #f5f5f5;
}

@media screen and (max-width: 992px){
    .listing-account .item-account-flashsale {
        width: 50%;
        padding: 0 8px;
        margin-bottom: 16px;
    }
    .secondary_flashsale{
        display: none;
    }
    .secondary_combo{
        display: none;
    }
    .price-flashsale .price-current-flashsale {
        color: #FC530B;
        font-weight: 700;
        font-size: 15px;
        line-height: 24px;
    }
    .percent_discount:after {
        content: attr(data-content);
        position: absolute;
        width: 39px;
        height: 16px;
        top: 0px;
        right: 0px;
        background-color: #FC530B;
        text-align: center;
        padding-top: 0px;
        padding-left: 10px;
        font-weight: 500;
        font-size: 9px;
        color: #fff;
        background-image: url(../../image/png/Flash-on.png);
        background-repeat: no-repeat;
        background-size: 6px 11px;
        background-position: 14% 3px;
        border-radius: 0 0 0 8px;
    }
    .price-flashsale .price-old {
        font-weight: 400;
        font-size: 10px;
        line-height: 16px;
        color: var(--text-link-default-color);
        text-decoration: line-through;
    }
    .header-flash-sale{
        display: none;
    }
    .head-mobile-fl{
        background: #0E3EDA;
    }
    .head-mobile-fl .link-back >img{
        filter: brightness(0) invert(1);
    }
    .bottom-banner-countdown:first-child{
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .bottom-banner-countdown:nth-child(5){
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .box-time-banner{
        width: 25%;
    }
    .text-nowrap{
        font-size: 10px;
    }
    .out_of_stock {
        font-size: 13px;
        position: absolute;
        background: rgba(0, 0, 0, 0.75);
        width: 80px;
        height: 80px;
        line-height: 80px;
        text-align: center;
        border-radius: 100%;
        color: #fff;
    }
    .result-countdown-2{
        background: #fff;
        border-radius: 0;
        margin-top: -8px;
    }
    /*.countdown > div {*/
    /*    width: 28px;*/
    /*    height: 28px;*/
    /*    margin-right: 4px;*/
    /*    background-color: var(--primary-color);*/
    /*    border-radius: 4px;*/
    /*    font-weight: 500;*/
    /*    font-size: 13px;*/
    /*    line-height: 24px;*/
    /*    color: #fff;*/
    /*    text-align: center;*/
    /*    padding-bottom: 4px;*/
    /*    padding-top: 4px;*/
    /*    display: flex;*/
    /*    justify-content: center;*/
    /*    align-items: center;*/
    /*}*/
    .head-title-flashsale-mb{
        align-items: center;
        color: #fff;
        font-size: 15px;
        font-weight: 700;
        line-height: 24px;
        display: flex;
    }
    .box-timer-coundown {
        display: flex;
        width: 28px;
        height: 28px;
        margin-right: 4px;
        background-color: #0E3EDA;
        border-radius: 5px;
        color: #fff;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 6px;
        gap: 6px;
    }
}
