.content-banner-card-top li, .content-banner-top-card-home li, .content-banner-top-card-atm-home li {
    height: 40px;
    /* margin-bottom: 12px; */
    position: relative;
    padding: 0 15px;
}

.content-banner-top-card-home li, .content-banner-top-card-atm-home li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-top-card {
    /* margin-top: 16px; */
    margin-bottom: 16px;
    /* overflow: auto; */
}

.content-banner-card-top, .content-banner-top-card-home, .content-banner-top-card-atm-home {
    list-style: none;
    margin: 0;
    padding: 0;
}

.bg-content {
    background: url(../../image/jirim/star.png);
}

.text-content {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: 500;
}

.content-banner-card-top li p:first-child, .content-banner-top-card-home li p:first-child, .content-banner-top-card-atm-home li p:first-child {
    float: left;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    width: 26px;
    height: 26px;
    line-height: 26px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.content-banner-card-top li span {
    margin: 0 110px 0 35px;
    padding-top: 5px;
    font-weight: 500;
    font-size: 14px;
    color: #414141;
    display: block;
    height: 26px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.content-banner-top-card-home li span, .content-banner-top-card-atm-home li span {
    margin: 0 0 0 16px;
    font-weight: 500;
    font-size: 14px;
    color: #414141;
    height: 26px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.content-banner-top-card-home li div, .content-banner-top-card-atm-home li div {
    display: flex;
}
.content-banner-card-top li label {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 118px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    white-space: nowrap;
    font-weight: 400;
    font-size: 14px;
    color: #434657;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.content-banner-top-card-home li label, .content-banner-top-card-atm-home li label {
    --tw-bg-opacity: 1;
    background-color: rgb(239 68 68 / var(--tw-bg-opacity));
    color: #fff;
    display: inline-block;
    width: 118px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    white-space: nowrap;
    font-weight: 400;
    font-size: 14px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.btn-nap-the {
    background: var(--primary-color);
    border-radius: 8px;
}

.btn-nap-the:hover {
    background-color: var(--primary-hover-color);
    color: #fff;
    cursor: pointer;
}

.j-box-load{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


@media screen and (max-width: 992px) {
    .banner-top-charge {
        flex-direction: column-reverse;
    }

    .content-banner-card {
        margin-top: 32px;
    }

    .bg-content, .text-content {
        margin-bottom: 0px !important;
    }

    .content-banner-card-top li {
        height: 30px;
        margin-bottom: 8px;
    }
}


#noticeImage img {
    width: 100%;
    height: auto;
}

#noticeModal .modal-body {
    margin-bottom: 0px;
}

#noticeModal .modal-customs {
    max-width: 500px;
}

@media screen and (max-width: 576px) {
    #noticeModal .modal-customs {
        max-width: 300px;
    }
}

@media screen and (max-width: 768px) {
    #noticeModal .modal-customs {
        max-width: 400px;
    }
}
.menu-top-charge .nav .nav-item p.active {
    background-color: var(--primary-color);
    color: #FFFFFF;
}
.menu-top-charge .nav .nav-item p {
    cursor: pointer;
}
